.movies {
  padding-top: 30px;
}

.movies__header {
  font-size: 48px;
  font-weight: 600;
  color: white;
  padding-top: 50px;
}

.search {
display: flex;
justify-content: center;
align-items: center;
}

.movies__row{
    display: flex;
    margin: 0 -20px;
    flex-wrap: wrap;
}

.movies__row a{
  width: 20%;
}